.bg {
    background-repeat: no-repeat;
    background-position: center center;
}
.bg-bottom {
    background-position: bottom center;
}
.bg-cover {
    background-size: cover;
}
.bg-fixed {
    background-attachment: fixed;
}