.h-hero {
    height: 100vh;
    @include media-breakpoint-up(md) {
        // height: 43.75rem; // 700px
         height: 42.55rem; // 680px

    }
}
.h-hero-innerImg {
    // height: 35rem; // 560px
    width: 22rem;
    height: 100%;
    
}
.h-footerLogo {
    width: 1.5rem; 
    @include media-breakpoint-up(md) {
        width: 6.25rem // 100px;
    }
}
.h-btn-lg {
    height: 3.25rem; //42
}
.w-btn-md {
    width: 8.25rem; //132
}
.w-btn-lg {
    width: 12.25rem; //200
}
.h-cart-view-img {
    // width: 6.25rem; // 100px;
    width: 5rem; // 100px; 
    height: auto;
    @include media-breakpoint-up(md) {
        width: auto;
        width: 6.25rem // 100px;
    }
}
.w-cart-view-col {
    max-width: 20rem;
    @include media-breakpoint-up(md) {
        max-width: 10rem; //160px
    }
}

.h-cart-checkout-img {
    width: 3rem; //48px; 
    height: 3rem; //48px; 
}