$utilities: () !default;

$utilities: map-merge(
  $utilities,
  (
    
    // Margin Responsive
    "margin": (
      responsive: true,
      property: margin,
      class: m,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-x": (
      responsive: true,
      property: margin-right margin-left,
      class: mx,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-y": (
      responsive: true,
      property: margin-top margin-bottom,
      class: my,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-top": (
      responsive: true,
      property: margin-top,
      class: mt,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-end": (
      responsive: true,
      property: margin-right,
      class: me,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-start": (
      responsive: true,
      property: margin-left,
      class: ms,
      values: map-merge($spacers, (auto: auto))
    ),
    // Padding utilities
    "padding": (
      responsive: true,
      property: padding,
      class: p,
      values: $spacers
    ),
    "padding-x": (
      responsive: true,
      property: padding-right padding-left,
      class: px,
      values: $spacers
    ),
    "padding-y": (
      responsive: true,
      property: padding-top padding-bottom,
      class: py,
      values: $spacers
    ),
    "padding-top": (
      responsive: true,
      property: padding-top,
      class: pt,
      values: $spacers
    ),
    "padding-end": (
      responsive: true,
      property: padding-right,
      class: pe,
      values: $spacers
    ),
    "padding-bottom": (
      responsive: true,
      property: padding-bottom,
      class: pb,
      values: $spacers
    ),
    "padding-start": (
      responsive: true,
      property: padding-left,
      class: ps,
      values: $spacers
    ),
    // Font
    "font-family": (
      property: font-family,
      class: ff,
      values: (
        mont: 'Montserrat', // 客製字型
      )
    ),

  )
);

.link-white {
    color: rgba(255, 255, 255, 0.75) !important
}

.link-white:hover {
    color: $primary !important;
}
.object-fit {
  width: 100% ; 
  height: 100% ; 
  object-fit: cover ; 
  object-position: center ; 
}
.svg-white { 
  transition: all 0.5s ease-out;
  path {
      fill: rgba(255, 255, 255, 0.75) !important
  }
}
.svg-gray { 
    transition: all 0.5s ease-out;
    path {
        fill: $gray-600;
    }
}
.svg-gray:hover path{ 
    fill: $primary
}
.cursor-pointer {
  cursor: pointer;
}

// Hide Arrows From Input Number 隱藏 Input 右方的上下三角形
// https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.z-index-1000 {
  z-index: 1000;
}

// form
